<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-list-header>Seja Bem-vindos!</ion-list-header>
      <ion-item>{{nome}}</ion-item>
      <ion-item>{{email}}</ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let user of userList">
      <ion-label>
          <h3>{{user.nome}}</h3>
          <p>{{user.email}}</p>
          <p>{{user.nasc}}</p>
          <p>{{user.fone}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
