<ion-header>
  <ion-toolbar color="danger">
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding #item *ngFor="let pessoa of lista|async">
      <ion-item>
        <ion-label>
          <h2>{{pessoa.nome}}</h2>
          <p>{{pessoa.email}}</p>
          <p>{{pessoa.idade}} Anos</p>
        </ion-label>
      </ion-item>
      
      <ion-item-options slot="end">
        <ion-item-option (click)="delete(pessoa, item)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option  (click)="edit(pessoa,item)" color="primary">
          <ion-icon slot="icon-only" name="clipboard"></ion-icon>
        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="createUser()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>

</ion-content>
