<ion-header>
  <ion-toolbar>
    <ion-title>validate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-to>

  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <p class="error-msg" *ngIf="nome().dirty && nome().hasError('required')">O nome é obrigatoro</p>
      <p class="error-msg" *ngIf="nome().dirty && nome().hasError('minlength')">Nome deve ter +q 5 carak </p>
      <p class="error-msg" *ngIf="nome().dirty && nome().hasError('maxlength')">Nome deve -60 carkk </p>
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-icon name="Lock" slot="start"></ion-icon>
        <ion-input formControlName="senha" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label position="stacked" >Telefone</ion-label>
        <ion-input formControlName="fone" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label position="stacked" >Data de Nascimento</ion-label>
        <ion-input formControlName="nasc" type="text"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button (click)="facebookLogin()">
      <ion-icon name="facebook" slot="start"></ion-icon>
      <ion-label>Login com facebook</ion-label>
    </ion-button>

    <ion-button expand="block" (click)="criaUsuario()">
      Novo Usuário
    </ion-button>

  </form>

</ion-content>
