<ion-content>
  
    <top title="Dados de Acesso" (logoClicked)="report($event)"></top>
  
    <div class="bottom">
      <div *ngIf="!formValid">
        <p>Dados de acesso incorretos</p>
      </div>
      <ion-list>
        <ion-header>Fazer login</ion-header>
        
        <ion-item>
            <ion-input (ionChange)="validate(this.user)" type="text"[(ngModel)]="user"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-input (ionChange)="validate(this.pass)" type="password"[(ngModel)]="pass"></ion-input>
        </ion-item>  
      </ion-list>
  
      <ion-fab slot="fixel" horizontal="end" vertical="bottom"> 
          <ion-fab-button>
            <ion-icon name="send"></ion-icon>
          </ion-fab-button> 
      </ion-fab>
  
    </div>
  
  </ion-content>