<ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Nome da Tarefa
      </ion-title>
        <ion-buttons slot="start">
          <ion-back-button>
          </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item-sliding>
        <ion-item *ngFor="let step of lista">
          <ion-checkbox [checked]="step.checked" (ionChange)="markStep(step)"></ion-checkbox>
          <ion-label class="step-label">{{step.title}}</ion-label>
          <ion-item-options>
            <ion-item-option color="light">
              <ion-icon slot="icon-only" name="clipboard"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

  </ion-content>
  